@import url("/crimson-pro.css");

body {
  margin: 0;
  font-family: CrimsonPro-Light, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 0.9;
  text-rendering: geometricPrecision;
  /* hyphens: auto; */
  text-wrap: balance;
}

h1 {
  line-height: 1em;
}

a {
  color: green;
}

::selection {
  background-color: green;
  color: black;
}
